<div class="container">
    <h2>{{title}}</h2>
    <p>{{description}}</p>

    <div class="border-bottom">
        <a ng-href="{{something}}">{{something}}</a>

    </div>

    <div class="fomritems" ng-show="myBox" >
        <form ng-submit="submit()">
            <input type="text" name="FirstName" ng-model="model.FirstName"/>
            <input type="text" name="LastName" ng-model="model.LastName"/>
            <input type="text" name="Email" ng-model="model.Email"/>
            <input type="text" name="Phone" ng-model="model.Phone"/>
            <input type="submit" name="submit" value="Save"/>
        </form>
    </div>


    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
            <th>Phone</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="x in list">
            <td>{{ x.FirstName }}</td>
            <td>{{ x.LastName }}</td>
            <td>{{ x.Email }}</td>
            <td>{{ x.Phone }}</td>
        </tr>
        </tbody>

    </table>

</div>
