<div class="container">
    <h2>{{title}}</h2>
    <p>{{description}}</p>
    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in list">
            <td>{{ x.FirstName }}</td>
            <td>{{ x.LastName }}</td>
            <td>{{ x.Email }}</td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 table-responsive">
            <table class="table table-bordered table-hover table-sortable" id="tab_logic">
                <thead>
                <tr >
                    <th class="text-center">
                        firstName
                    </th>
                    <th class="text-center">
                        lastName
                    </th>
                    <th class="text-center">
                        Email
                    </th>
                    <th class="text-center">
                        Phone
                    </th>
                    <th class="text-center" style="border-top: 1px solid #ffffff; border-right: 1px solid #ffffff;">
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr id='addr0' data-id="0" class="hidden">
                    <td data-name="firstname">
                        <input type="text" name='name0'  placeholder='firstName' class="form-control"/>
                    </td>
                    <td data-name="lastname">
                        <input type="text" name='name0'  placeholder='lastName' class="form-control"/>
                    </td>
                    <td data-name="email">
                        <input type="text" name='mail0' placeholder='Email' class="form-control"/>
                    </td>
                    <td data-name="email">
                        <input type="text" name='phone' placeholder='Phone' class="form-control"/>
                    </td>
                    <td data-name="sel">
                        <select name="sel0">
                            <option value="">Select Option</option>
                            <option value="1">Option 1</option>
                            <option value="2">Option 2</option>
                            <option value="3">Option 3</option>
                        </select>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>