
<div class="container">
    <h2>{{title}}</h2>
    
   
    <div class="fomritems">
        <form ng-submit="submit()">
            <input type="text" name="FirstName" ng-model="model.FirstName"/>
            <input type="text" name="LastName" ng-model="model.LastName"/>
            <input type="text" name="Email" ng-model="model.Email"/>
            <input type="submit" name="submit" value="Create"/>
        </form>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Email</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="x in list">
         <td><input name="Firstname" ng-model="x.FirstName "  ng-disabled="!enabledEdit[{{$index}}]" /></td>
         <td><input name="Lastname" ng-model=" x.LastName  "  ng-disabled="!enabledEdit[{{$index}}]" /></td>
         <td><input name="Email" ng-model="x.Email"  ng-disabled="!enabledEdit[{{$index}}]" /></td>
         
            <td> <button class="btn btn-primary" ng-click="editEmployee($index)">Edit</button>
             <button class="btn btn-danger" ng-click="deleteEmployee($index)">Delete</button></td>
        </tr>
        </tbody>
    </table>
</div>
