<div class="panel panel-default" ng-init="showEmployee()">
    <div class="panel-heading">
        <p class="panel-title"> Employee Detail Information</p>
    </div>
    <div class="panel-body">
        <form>
            <div class="form-group">
                <label class="form-control">Name: {{ employee.FirstName}}</label>
                <label class="form-control">Department: {{ employee.LastName }}</label>
                <label class="form-control">Location: {{ employee.Email }}</label>
                <a href="/employee/show" class="btn btn-default"> Cancel</a>
            </div>
        </form>
    </div>
</div>